@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff8c00;
  --secondary-color: #ff4d55;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  @apply bg-neutral-900 text-neutral-300 p-0 m-0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex__between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__btn {
  margin-top: 0.75rem; /* mt-3 */
  width: 100%; /* w-full */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  text-align: center; /* text-center */
  background-color: white; /* bg-white */
  color: black; /* text-black */
  border-radius: 0.25rem; /* rounded */
  font-weight: bold; /* font-bold */
  font-size: 1.125rem; /* text-lg */
  transition: transform 0.3s, background 0.3s; /* transition-all */
}

.main__btn:hover {
  background: linear-gradient(to left, #f56565, #ed8936); /* bg-gradient-to-l from-red-500 to-orange-500 */
  transform: scale(1.05); /* hover:scale-105 */
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

.page-link:hover {
  background-color: #e9ecef;
}

.active .page-link {
  background-color: #007bff;
  color: white;
}
